.channels-wrap {
	display: inline-block;
	height: 16px;
  line-height: 16px;
  color: #7c7b82;
  font-size: 12px;
  font-weight: 400;
  margin-right: 30px;
  position: relative;
  z-index: 1;
  text-align: left;

  .channels-title {
  	padding-left: 5px;
  }

  &:hover {
  	.channels {
  		display: block;
  	}
  }
}

.channels {
	display: none;
	position: absolute;
	right: 0;
	width: 210px;
	padding: 10px;
	border: 1px solid #e1e1e1;
	background-color: #fbfbfb;

	li {
		float: left;
		min-width: 90px;
		padding: 5px;
		list-style: none;
	}

	span {
		padding: 0 2px;
	}

	a {
		color: #333;
		text-decoration: none;
	}

	.icon {
		visibility: hidden;
		margin-right: 5px;
	}

	.active .icon {
		visibility: visible;
	}

	// .c-playing {
	// 	display: none;
	// }

	// .active .c-playing {
	// 	display: inline-block;
	// 	background: url(../../assets/channel.gif) no-repeat;
	// 	width: 11px;
	// 	height: 11px;
	// }
}

