$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$pme-icon--message: "\e909";
$pme-icon--calendar: "\e900";
$pme-icon--draft: "\e901";
$pme-icon--edit: "\e902";
$pme-icon--goal: "\e903";
$pme-icon--link: "\e904";
$pme-icon--pending: "\e905";
$pme-icon--project: "\e906";
$pme-icon--recyclebin: "\e907";
$pme-icon--review: "\e908";

